header{
    height:200px
    width: auto;
    background-color: #111111;
}

picture{
    width: 100px;
    height: 100px;
}

picture1{
    width:auto;
    height: auto;
}

body{

}

section{

}

div{

}
